.root {
    align-items: center;
    display: grid;
    gap: 1rem;
    grid-auto-flow: column;
    grid-template-columns: 60px 1fr;
}

.image {
    align-items: center;
    border: 1px solid rgb(var(--venia-border));
    border-radius: 50%;
    display: inline-flex;
    height: 60px;
    justify-content: center;
    overflow: hidden;
    width: 60px;
}

.name {
    word-break: break-word;
}
